@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lovers+Quarrel&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  background: #f6f6f6;
  overflow: auto;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.container .btn {
  display: inline-block;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background: #e3c16f;
  color: #fff;
  cursor: pointer;
}

.container .btn:hover {
  background: #daad44;
}

nav {
  background: #fff;
  padding: 0 20px;
  width: 100%;
  height: 80px;
}

.logo h1 {
  color: #daad44;
}

nav .nav-items {
  display: flex;
  justify-content: space-between;
  height: 100%;
  align-items: center;
}

.nav-items ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-items ul li {
  list-style: none;
  margin-left: 20px;
  font-size: 18px;
  font-weight: 600;
  color: #000;
}

.nav-items ul li a {
  color: #000;
}

.nav-items ul li a:hover {
  color: #e3c16f;
}

.nav-items ul li a.active {
  color: #e3c16f;
}

.about-container a {
  color: #000;
}

.about-container a:hover {
  color: #e3c16f;
}

.about-container a.active {
  color: #e3c16f;
}

.btn {
  font-family: "Poppins", sans-serif;
  background: #e3c16f;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
}

.btn:hover {
  background: #daad44;
}

.container .title {
  color: #e3c16f;
  font-size: 30px;
  font-weight: 600;
  margin: 40px 0;
}

.book-details-container {
  margin-top: 8px;
  padding: "4px";
  border: 1px solid #133C55;
  padding: 16px;
}